<div class="widgets" ng-controller="LocationController">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Thông tin các khu vực" ba-panel-class="with-scroll">
                <div class="add-row-editable-table">
                    <button class="btn btn-primary" ng-click="addLocation()"> Thêm khu vực </button>
                </div>
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Tên </td>
                        <td> Địa chỉ </td>
                        <td> Kinh độ </td>
                        <td> Vĩ độ </td>
                        <td> Mô tả </td>
                        <td> Hành động </td>
                    </tr>
                    <tr ng-repeat="node in locations" class="editable-row">
                        <td>
                            {{$index}}
                        </td>
                        <td><span editable-text="node.name" blur="cancel"> {{node.name}} </span></td>
                        <td><span editable-text="node.address" blur="cancel"> {{node.address}} </span></td>
                        <td><span editable-text="node.coordinate.longtitude" blur="cancel"> {{node.coordinate.longtitude}} </span></td>
                        <td><span editable-text="node.coordinate.latitude" blur="cancel"> {{node.coordinate.latitude}} </span></td>
                        <td><span editable-text="node.description" blur="cancel"> {{node.description ? node.description : 'Thêm mô tả'}} </span></td>
                        <td>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)"> Xóa </button>
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="removeUser($index)"> Xem map</button>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="widgets">

  <div class="row">
    <div class="col-md-12" ui-view autoscroll="true" autoscroll-body-top>
      <div ba-panel ba-panel-title="Bản đồ khu vực {{currentLoc.name}}" class="viewport100">
        <div id="google-maps"></div>
      </div>

    </div>
  </div>

</div>