<div class="widgets" sensor-directive>
   <div class="datepicker row">
      <form>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <select class="form-control" ng-options="loc as loc.name for loc in locations track by loc.id" ng-model="currentLoc">
            </select>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <select class="form-control">
               <option ng-repeat="root in roots track by $index" value="{{root.id}}" ng-if="root.loc == currentLoc.id" ng-model="currentRoot">
                  {{root.name}}
               </option>
            </select>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <select class="form-control">
               <option ng-repeat="node in nodes track by $index" value="{{node.id}}" ng-if="node.root == currentRoot.id || !node.root">
                  {{node.name}}
               </option>
            </select>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
             <button type="button" class="btn btn-info btn-icon"><i class="ion-stats-bars"></i></button>
         </div>
      </form>
   </div>
         <div class="row" style="margin-top:20px"></div>
   
   <div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Thông tin các Root khu vực {{currentLoc.name}}" ba-panel-class="with-scroll">
                <div class="add-row-editable-table">
                    <button class="btn btn-primary" ng-click="addRoot()"> Thêm sensor </button>
                </div>
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td></td>
                        <td>Tên </td>
                        <td> Mô tả </td>
                        <td> Loại </td>
                        <td> Hành động </td>
                    </tr>
                    <tr ng-repeat="node in sensors" class="editable-row">
                        <td>
                            {{$index}}
                        </td>
                        <td><span editable-text="node.name" blur="cancel"> {{node.name}} </span></td>
                        <td><span editable-text="node.description" blur="cancel"> {{node.description ? node.description : 'chỉnh sửa mô tả'}} </span></td>
                        <td>
                            <span editable-text="node.type" blur="cancel"> {{node.type ? node.type : 'Cảm biến'}} </span>
                        </td>
                        <td>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
   <div class="row">
      <!--<a ng-repeat="page in pages track by $index"> {{$index}} </a>-->
      <div class="col-md-6 col-md-offset-3">
         <div class="btn-group center" role="group" aria-label="First group">
            <button type="button" ng-repeat="page in pages track by $index" class="btn {{$index == currentPage ? 'btn-primary' : 'btn-info'}}"
               ng-click="getInfo($index)"> {{$index + 1}} </button>
         </div>
      </div>
   </div>
</div>