<div class="widgets" date-directive>
   <div class="datepicker row">
      <form>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <div class="input-group">
               <input type="text" class="form-control" uib-datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" ng-model="datePicker.dt" is-open="datePicker.opened"
                  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="datePicker.open()"><i class="glyphicon glyphicon-calendar"></i></button>
               </span>
            </div>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <div class="input-group">
               <input type="text" class="form-control" uib-datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" ng-model="datePicker.dt2" is-open="datePicker.opened2"
                  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="datePicker.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
               </span>
            </div>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <select class="form-control" ng-options="node as node.name for node in nodes track by node.id" ng-model="currentNode">
            </select>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
            <select class="form-control">
               <option ng-repeat="sensor in sensors track by $index" value="{{sensor.id}}" ng-if="sensor.node == currentNode.id">
                  {{sensor.name}}
               </option>
            </select>
         </div>
         <div class="col-xlg-1 col-md-2 col-sm-1">
             <button type="button" class="btn btn-info btn-icon"><i class="ion-stats-bars"></i></button>
         </div>
      </form>
   </div>
   <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="BIỂU ĐỒ CHỈ SỐ CHẤT LƯỢNG KHÔNG KHÍ THEO TỪNG GIỜ TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
            <div id="div-chart" class="admin-chart"></div>
        </div>
   </div>
</div>