<section ng-controller="DashboardController" class="chartist">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <select class="form-control" ng-options="loc as loc.name for loc in locations track by loc._id" ng-model="currentLocation"
      ng-change="changeLocation()">
      <option value="" disabled selected>Chọn khu vực</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-4">
    <div class="form-group">
      <select class="form-control" ng-options="node as node.name for node in nodes track by node._id" ng-model="currentNode" ng-change="submit()">
        <option value="" disabled selected>Chọn node</option>
      </select>
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-sm-3 vcenter">
    <div class="row">
      <div id="aqiwgtvalue col" ng-style="{'background-color': currentNode.status.color}" style="font-size: 80px; width: 70%; margin-left: 15%; color: rgb(0, 0, 0); text-shadow: rgb(255, 255, 255) 1px 0px 1px;"
      title="{{currentNode.status.affect}}"><div style="text-align: center; line-height: 100%;">{{currentNode.now.pm2}}</div></div>
    </div>
    <div class="row" style="margin-left: 15%; margin-bottom: 13%; margin-top: 5%">
      <div id="aqiwgtinfo" style="font-size: 38px; text-shadow: rgb(0, 0, 0) 1px 0px 1px; color: rgb(255, 153, 51);">
        <span style="font-size:30px"> {{currentNode.status.status}} </span>
      </div>
      <div style="margin-top: inherit">
        <div style="font-size: 12px; padding-top: 5px; display: block;" id="aqiwgtxtrainfo">Nhiệt độ:
          <span class="temp" format="b">
            <b> {{ currentNode.now.temp }}</b>°C</span>
          </div>
          <div style="font-size: 12px; padding-top: 5px; display: block;">Độ ẩm:
            <span class="temp" format="b">
              <b> {{currentNode.now.hum}}</b> % </span>
            </div>
          </div>
          <div style="font-size: 12px; padding-top: 5px; display: block;">Trạng thái:
            <span>
              <b> {{currentNode.connected ? 'Đã kết nối' : 'Ngắt kết nối'}}</b></span>
            </div>
            <div style="font-size: 12px; padding-top: 5px; display: block;">Last update:
            <span>
              <b> {{currentNode.now.lastUpdated | date:'yyyy-MM-dd HH:mm:ss'}}</b></span>
            </div>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 vcenter">
          <div id="mapid" style="width: 100%; height: 400px;"></div>
        </div>
      </div>

    </div>
    <div class="row" style="margin-top: 50px">
      <div class="row">
        <div class="aqi-chart" ba-panel ba-panel-title="BIỂU ĐỒ CHẤT LƯỢNG KHÔNG KHÍ TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
          <div id="aqi-chart" class="admin-chart"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="BIỂU ĐỒ ĐỘ ẨM TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
          <div id="hum-chart" class="admin-chart"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="BIỂU ĐỒ NHIỆT ĐỘ TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
          <div id="temp-chart" class="admin-chart"></div>
        </div>
      </div>
    </div>
  </section>