<section ng-controller="DashboardController" class="chartist">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <select class="form-control" ng-options="loc as loc.name for loc in locations track by loc._id" ng-model="currentLocation" ng-change="changeLocation()">
      </select>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-group">
        <select class="form-control" ng-options="node as node.name for node in tempNodes track by node._id" ng-model="currentNode"
          ng-change="changeNode()">
      </select>
      </div>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4">
    </div>
    <div class="col-xlg-1 col-md-2 col-sm-1">
      <button type="button" class="btn btn-info btn-icon" ng-click="submit()"><i class="ion-stats-bars"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ba-panel ba-panel-title="BIỂU ĐỒ ĐỘ ẨM TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
      <div id="hum-chart" class="admin-chart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" ba-panel ba-panel-title="BIỂU ĐỒ NHIỆT ĐỘ TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
      <div id="temp-chart" class="admin-chart"></div>
    </div>
  </div>

  <div class="row">
    <div class="aqi-chart" ba-panel ba-panel-title="BIỂU ĐỒ CHẤT LƯỢNG KHÔNG KHÍ TẠI NODE {{currentNode.name}}" ba-panel-class="with-scroll">
      <div id="aqi-chart" class="admin-chart"></div>
    </div>
  </div>
</section>